.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: auto;
}

.movie-card-header {
    position: relative;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.favorite-button.is-favorite {
    color: #FFD700;
}

.favorite-button:hover {
    color: #FFD700;
}

.movie-details {
    margin-top: 12px;
    flex-grow: 1;
}

.movie-overview {
    font-size: 14px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
}

.movie-overview.expanded {
    max-height: none;
}

.expand-button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    margin-top: 8px;
    align-self: flex-start;
}
