.share-container {
    position: fixed;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    z-index: 1000;
    text-align: center;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.generate-link-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.generate-link-button:hover {
    background-color: #0056b3;
}

.share-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.share-link-input {
    width: 70%;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.copy-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.copy-button:hover {
    background-color: #218838;
}

.copy-button:active {
    background-color: #1e7e34;
}

.copy-button.copied {
    background-color: #17a2b8;
}

.shared-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}